@page "/"
@page "/index"
@inject IRepository repository

<div>
    <h3>Movies</h3>
    <MoviesList Movies="movies" />
</div>

@code
{
    private List<Movie> movies;
    protected override void OnInitialized()
    {
        //await Task.Delay(2000);
        movies = repository.GetMovies();

    }

}