@page "/movies/create"
@inject NavigationManager navigationManager

<h3>Create Movie</h3>

<MovieForm Movie="Movie" OnValidSubmit="SaveMovie" NotSelectedGenres="NotSelectedGenres"/>

@code {

    private Movie Movie = new Movie();

    private List<Genre> NotSelectedGenres = new List<Genre>()
    {
        new Genre(){Id = 1, Name = "Action"},
        new Genre(){Id = 1, Name = "Comedy"},
        new Genre(){Id = 1, Name = "Drama"},
        new Genre(){Id = 1, Name = "Thiller"}
    };

    private void SaveMovie()
    {
        Console.WriteLine("This works...");
        // Saving movie ...
        //Console.WriteLine(navigationManager.Uri);
        //navigationManager.NavigateTo("movie");
    }
}
